.main {
  border: 2px solid black;
  margin-left: 30%;
  width: 600px;
  height: 600px;
  display: flex;
  /* align-items: center; */
  place-items: center stretch;
  justify-content: center;
  position: relative;
}
/* .box {
  height: 150px;
  width: 150px;
  border: 1px solid black;
} */
.black {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border: none;
  background-color: black;
  top: 5px;
  left: 5px;
}
.blueberry {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border: none;
  background-color: #4f86f7;
  display: flex;
  top: 5px;
  right: 5px;
}
.police {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border: none;
  background-color: #374f6b;
}
.oxford {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border: none;
  background-color: #002147;
}
.shuffle {
  padding: 10px 40px;
  background-color: skyblue;
  border: none;
  border-radius: 15px;
  margin: 3% 42%;
}
.shuffle:hover {
  background-color: antiquewhite;
}
